# Service ClusterIP: Acesso interno (dentro do cluster)
apiVersion: v1
kind: Service
metadata:
  name: identity-consumer-api-clusterip
spec:
  selector:
    app: identity-consumer-api
  ports:
    - protocol: TCP
      port: 80          # Porta acessada internamente
      targetPort: 8080  # Porta do container
  type: ClusterIP
---
# Service NodePort: Acesso externo básico (com IP do nó)
apiVersion: v1
kind: Service
metadata:
  name: identity-consumer-api-nodeport
spec:
  selector:
    app: identity-consumer-api
  ports:
    - protocol: TCP
      port: 80           # Porta acessada externamente
      targetPort: 8080   # Porta do container
      nodePort: 30080    # Porta exposta no nó (opcional)
  type: NodePort
---
# Service LoadBalancer: Acesso externo gerenciado (em nuvem)
apiVersion: v1
kind: Service
metadata:
  name: identity-consumer-api-lb
spec:
  selector:
    app: identity-consumer-api
  ports:
    - protocol: TCP
      port: 5000           # Porta do serviço
      targetPort: 8080   # Porta do container
  type: LoadBalancer